<div  class= "container-fluid">

  <div style="font-size: 40px; text-align: center">Ricerche nel mondo 🌎</div>
  <div style="font-size: 20px; text-align: center">
    ~ Cerca piatti selezionando un ingrediente ~
  </div>

  <div class = "listIngredient">
    <img src="ingredientsImg/spezie.jpg" class = "imgIngredient" alt="spezie">
    <img src="ingredientsImg/cereali.jpg" class = "imgIngredient" alt="cereali">
    <img src="ingredientsImg/fruit.jpg" class = "imgIngredient" alt="fruit">
    <img src="ingredientsImg/vegetables.jpg" class = "imgIngredient" alt="vegetables">
    <img src="ingredientsImg/meat.jpg" class = "imgIngredient" alt="meat">
    <img src="ingredientsImg/fish.jpg" class = "imgIngredient" alt="fish">
    <img src="ingredientsImg/bakery.jpg" class = "imgIngredient" alt="bakery">
    <img src="ingredientsImg/alcolici.jpg" class = "imgIngredient" alt="alcolici">
    <img src="ingredientsImg/latticini.jpg" class = "imgIngredient" alt="latticini">

  </div>

</div>
