<div class = "piattoinListItem">
  <img src="bufferingDish.png"  style = "border-radius: 50%; width: 150px; height:auto; aspect-ratio: 1 / 1;" alt="Dish" class= "imgInItem3">
  <div style = "justify-content: center; margin-left: 18px; height: auto;">
    <h4><b class = "TitleRecipe">Carbonara</b></h4>
    <p><i>In questo piatto è presente "<span style="color:#FD5E53;" class = "RecipeContent"></span>"</i>.</p>
  </div>
</div>
