<div class = "piattoinListItem">
  <img src="carbonara.jpg"  style = "border-radius: 50%; width: auto; height:60px;" alt="Dish">
  <div style = "justify-content: center; margin-left: 18px;">
    <h4><b>Carbonara</b></h4>
    <p><i>In questo piatto è presente <span style="color:#FD5E53;">pancetta</span></i>.</p>
  </div>
</div>
