<div class = "piattoItem">
  <img src="bufferingDish.png"  class= "imgInItem"  alt="Dish">
  <div class = "textPiattoItem">
    <p style= "font-size: x-large;" class= "TitleRecipeNation">Carbonara</p>
    <p>
      <i class= "RecipeContentNation">· spaghetti · pancetta · pecorino grattugiato · grana grattugiato
         · 2 tuorli · olio extravergine d'oliva · sale · pepe.</i>
    </p>
  </div>
</div>
