<div class = "piattoCategoryItem">
  <img src="carbonara.jpg"  style = "border-radius: 50%; width: auto; height:100px;" alt="Dish">
  <div style = "font-size: large; text-align: center;">
    <h4><b class = "TitleRecipeCat">Carbonara</b></h4>
    <p>
      <i><span class = "RecipeContentCat"></span>
        </i>
    </p>
  </div>
</div>
