<div class = "piattoCategoryItem">
  <img src="bufferingDish.png"  style = "border-radius: 50%; width: auto; height:100px;" alt="Dish" class= "imgInItemCateg">
  <div style = "font-size: large; text-align: center;  word-wrap: break-word;  overflow-y:auto;">
    <h4><b class = "TitleRecipeCat"> loading... </b></h4>
    <p>
      <i><span class = "RecipeContentCat"></span>
        </i>
    </p>
  </div>
</div>
