<div class = "piattoCategoryItem">
  <img src="carbonara.jpg"  style = "border-radius: 50%; width: auto; height:100px;" alt="Dish">
  <div style = "font-size: large; text-align: center;">
    <p style= "font-size: xx-large;">Carbonara</p>
    <p>
      <i>· spaghetti · pancetta · pecorino grattugiato · grana grattugiato
         · 2 tuorli · olio extravergine d'oliva · sale · pepe.</i>
    </p>
  </div>
</div>
