<div class = "piattoItem">
  <img src="carbonara.jpg"  class= "imgInItem"  alt="Dish">
  <div class = "textPiattoItem">
    <p style= "font-size: xx-large;">Carbonara</p>
    <p>
      <i>· spaghetti · pancetta · pecorino grattugiato · grana grattugiato
         · 2 tuorli · olio extravergine d'oliva · sale · pepe.</i>
    </p>
  </div>
</div>
